body {
    background-color: #202020 !important;
  }
  
  .x-icon-navbar {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
  
  #hero-section {
    padding: 11rem 0 7rem 0;
  }
  
  #carousel-section {
    padding: 0 0 10rem;
  }
  
  #services-section {
    padding: 0 0 5rem;
  }
  
  #project-section {
    padding: 0 0 5rem;
  }
  
  #contact-section {
    padding: 10rem 0;
  }
  
  .x-hero-avatar {
    width: 400px;
    height: 400px;
    object-fit: cover;
  }
  
  .x-service-image {
    width: 100%;
    height: 760px;
    object-fit: cover;
    border-radius: 16px;
  }
  
  .x-project-image {
    width: 100%;
    height: 560px;
    object-fit: cover;
    border-radius: 16px;
  }
  
  .btn {
    padding: 1rem 1.7rem !important;
    border-radius: 12px !important;
  }
  